<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/xml">
        <div>
          <label for="">CVV</label>
          <input type="text" name="name" value="12345678" id="name" />
        </div>
        <div>
          <label for="">CVV</label>
          <input type="text" name="name" value="12345678" id="name" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Send
        </button>
      </form>
    </div>
  </body>
</html>
